@mixin card($bg-color, $text-color) {
  display: grid;
  place-items: center;
  background-color: $bg-color;
  color: $text-color;
  padding: 1em;
  border: 0;
  border-radius: 0.5em;
  box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.2);
  width: 12.5em;
  height: 20em;
}

:root {
  background: linear-gradient(to right, #2196f3, #e91e63);
  margin: auto;
  height: 100vh;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MotionWrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: #ddd;
  outline: none;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0077ff;
    cursor: pointer;
  }
  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0077ff;
    cursor: pointer;
  }
}
.Card {
  @include card(#fff, #000);
}
//Modal
.Modal {
  &-Overlay {
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }
  &-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
}
